{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <center><h1>About</h1></center>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem culpa debitis dolorem earum odit
                    reiciendis
                    temporibus vitae? Ab alias architecto est fugit iste itaque laboriosam laborum, perferendis repellat
                    sint
                    tempora!</p>
                <p>Autem beatae dolorum iure nobis odit perspiciatis quas recusandae sit, soluta temporibus. Adipisci
                    aperiam
                    assumenda dolorem fuga laboriosam minima odit quaerat repellat vel voluptatem. Accusantium aliquid
                    ducimus et
                    fugiat odio?</p>
                <p>Impedit laboriosam magnam nostrum officia quisquam ratione reiciendis? A amet assumenda atque aut
                    commodi debitis
                    dolore dolorum error esse hic magnam, minima nam nostrum, omnis quod repellendus temporibus velit
                    voluptatibus.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}