{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <center><h1>Welcome to <em>Users Service</em></h1></center>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque eaque et nesciunt nostrum quo!
                Accusantium aliquam, aut consequuntur cumque, dolor eaque et illo impedit iste magni nam nisi
                recusandae, sapiente?
            </div>
        </div>
    </div>
</div>
{% endblock %}