{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="list-group">
                {% for user in users %}
                <a class="list-group-item list-group-item-action list-group-item-info" href="/users?id={{ user[0] }}">
                    <span class="badge badge-primary badge-pill">-></span><span>  {{ user[1] }}: {{ user[2] }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}