{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">

    <div class="row justify-content-center">
        <div class="col-6">
            <form class="needs-validation" method="POST" novalidate>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="nameInput">Name</label>
                    <div class="col-sm-10">
                        <input aria-describedby="nameHelp" class="form-control" id="nameInput" name="name"
                               placeholder="Enter name"
                               required type="text">
                    </div>
                    <small class="form-text text-muted" id="nameHelp">Please provide your name.</small>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="emailInput">E-mail</label>
                    <div class="col-sm-10">
                        <input aria-describedby="nameHelp" class="form-control" id="emailInput" name="email"
                               placeholder="email@example.com" required type="text">
                    </div>
                    <small class="form-text text-muted" id="emailHelp">We'll never share your email with anyone
                        else.</small>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="ageInput">Age</label>
                    <div class="col-sm-10">
                        <input aria-describedby="ageHelp" class="form-control" id="ageInput" name="age"
                               placeholder="21" required type="number">
                    </div>
                    <small class="form-text text-muted" id="ageHelp">You must be older than 18 years to complete
                        registration.</small>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="phoneInput">Mobile</label>
                    <div class="col-sm-10">
                        <input aria-describedby="phoneHelp" class="form-control" id="phoneInput" name="phone"
                               placeholder="9 XXX XXX XX XX" type="number">
                    </div>
                    <small class="form-text text-muted" id="phoneHelp">We'll never share your mobile with anyone
                        else.</small>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="countryInput">Country</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="countryInput" name="country"
                               placeholder="Russia" required type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="cityInput">City</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="cityInput" name="city"
                               placeholder="Moscow" required type="text">
                    </div>
                </div>
                <div><input type="submit"></div>
            </form>
        </div>
    </div>
</div>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();



</script>
{% endblock %}