{% extends 'base.html' %}
{% block content %}
<div>
    <h1>Name: {{ user[1] }}</h1>
    <div>Email: {{ user[2] }}</div>
    <div>Age: {{ user[5] }}</div>
    <div>Phone: {{ user[6] }}</div>
    <div>Country: {{ user[7] }}</div>
    <div>City: {{ user[8] }}</div>
</div>
{% endblock %}